<div data-w-id="cfd7d322-7b2b-7d95-8e08-922c3911bbe8" data-wf-id="[&quot;cfd7d322-7b2b-7d95-8e08-922c3911bbe8&quot;]"
    class="content-wrapper">
    <div data-w-id="ac9b672c-2d5a-5581-7ad6-e91052805b63"
        data-wf-id="[&quot;ac9b672c-2d5a-5581-7ad6-e91052805b63&quot;]" class="post-wrapper"><img
            src="https://uploads-ssl.webflow.com/622560d1855d4f49dc820a31/6226da6df4ceb06a64904f08_contact.png"
            loading="lazy" data-wf-id="[&quot;f4f112c0-8c69-9042-0349-e95e5bbf8bd1&quot;]"
            data-w-id="f4f112c0-8c69-9042-0349-e95e5bbf8bd1" alt="" class="about-image"
            sizes="(max-width: 767px) 88vw, (max-width: 991px) 53vw, 65vw"
            srcset="https://daks2k3a4ib2z.cloudfront.net/622560d1855d4f49dc820a31/6226da6df4ceb06a64904f08_contact-p-500.png 500w, https://daks2k3a4ib2z.cloudfront.net/622560d1855d4f49dc820a31/6226da6df4ceb06a64904f08_contact-p-800.png 800w, https://uploads-ssl.webflow.com/622560d1855d4f49dc820a31/6226da6df4ceb06a64904f08_contact.png 1412w">
        <div data-w-id="d296d6a9-70ec-1618-fa15-fca09abe277d"
            data-wf-id="[&quot;d296d6a9-70ec-1618-fa15-fca09abe277d&quot;]" class="post-content">
            <div data-w-id="3af7d4b7-279d-3fef-57e9-31141a5bfb86"
                data-wf-id="[&quot;3af7d4b7-279d-3fef-57e9-31141a5bfb86&quot;]" class="body-copy w-richtext">
                <h1 data-w-id="e0c14c57-0f3e-b918-fcc8-a214fb4ec9c9"
                    data-wf-id="[&quot;e0c14c57-0f3e-b918-fcc8-a214fb4ec9c9&quot;]">Get in touch</h1>
                <p data-w-id="7cbc9ac6-8568-d3cf-fa01-16e0be42918d"
                    data-wf-id="[&quot;7cbc9ac6-8568-d3cf-fa01-16e0be42918d&quot;]">Send me a message and I’ll get back
                    to you as soon as possible!</p>
            </div>
            <div data-w-id="c6a4019d-1066-d328-1b43-de518097a9bc"
                data-wf-id="[&quot;c6a4019d-1066-d328-1b43-de518097a9bc&quot;]" class="form-wrapper w-form">
                <form method="get" name="email-form" data-name="Email Form"
                    data-w-id="0f306e89-5450-5a9b-e7e3-e8bf4592f58f"
                    data-wf-id="[&quot;0f306e89-5450-5a9b-e7e3-e8bf4592f58f&quot;]" id="email-form"
                    aria-label="Email Form">
                    <label for="name" data-w-id="cc793f1c-2ec5-31d2-8949-212e0ea7550a"
                        data-wf-id="[&quot;cc793f1c-2ec5-31d2-8949-212e0ea7550a&quot;]">Name</label>
                        <input
                        class="text-field w-input" maxlength="256" name="name" data-name="Name"
                        placeholder="Enter your name" data-w-id="412d828b-5d28-fd4d-5ccf-149dba70be28"
                        data-wf-id="[&quot;412d828b-5d28-fd4d-5ccf-149dba70be28&quot;]" type="text" id="name" value={{this.emailForm.name}} (change)="onChange($event)">
                        <label
                        for="email" data-w-id="f318e2ab-11d0-1b69-41a7-3c88b10a3897"
                        data-wf-id="[&quot;f318e2ab-11d0-1b69-41a7-3c88b10a3897&quot;]">Email Address</label>
                        <input
                        class="text-field w-input" maxlength="256" name="email" data-name="Email"
                        placeholder="Enter your email address" data-w-id="eca2fe41-af10-7880-63b8-9e35baa4a6a4"
                        data-wf-id="[&quot;eca2fe41-af10-7880-63b8-9e35baa4a6a4&quot;]" type="email" id="email"
                        required="" value={{this.emailForm.email}} (change)="onChange($event)"><label for="Message" data-w-id="8b8b6e3d-2a0a-7e70-c7c3-3a0d0005e24f"
                        data-wf-id="[&quot;8b8b6e3d-2a0a-7e70-c7c3-3a0d0005e24f&quot;]">Message</label><textarea
                        class="text-field text-area w-input" maxlength="5000" name="Message" data-name="Message"
                        placeholder="Enter your message" data-w-id="90180746-58e4-d6b4-545c-64adb3c0b6c0"
                        data-wf-id="[&quot;90180746-58e4-d6b4-545c-64adb3c0b6c0&quot;]" value={{this.emailForm.message}} id="Message"
                        required=""(change)="onChange($event)"></textarea>
                        <input type="submit" data-wait="Please wait..."
                        data-w-id="77eacdd1-8af2-565b-6448-93b4351b432c"
                        data-wf-id="[&quot;77eacdd1-8af2-565b-6448-93b4351b432c&quot;]" class="button w-button"
                        value="Submit" (click)="submitMessage($event)"></form>
                <div data-w-id="7ba9e5ce-a1a1-3b0d-8af9-41c50c75f9c5"
                    data-wf-id="[&quot;7ba9e5ce-a1a1-3b0d-8af9-41c50c75f9c5&quot;]" class="success-message w-form-done"
                    tabindex="-1" role="region" aria-label="Email Form success">
                    <p data-w-id="ffe547bb-07df-6355-441a-e4e89d8b270c"
                        data-wf-id="[&quot;ffe547bb-07df-6355-441a-e4e89d8b270c&quot;]" class="success-text">Thank you!
                        Your submission has been received!</p>
                </div>
                <div data-w-id="1f6673f6-e22d-acee-3bd5-b8e377b58ece"
                    data-wf-id="[&quot;1f6673f6-e22d-acee-3bd5-b8e377b58ece&quot;]" class="w-form-fail" tabindex="-1"
                    role="region" aria-label="Email Form failure">
                    <p data-w-id="092d2134-e35a-b83d-4702-4218eb9c7e99"
                        data-wf-id="[&quot;092d2134-e35a-b83d-4702-4218eb9c7e99&quot;]">Oops! Something went wrong while
                        submitting the form</p>
                </div>
            </div>
        </div>
    </div>
</div>