<html class="site-scrollbar allow-drag-cursor wf-design-mode" lang="en" spellcheck="true"
    data-wf-site="622560d1855d4f49dc820a31" data-wf-page="622560d1855d4f2f16820a3b">

<head>
    <style>
        .wf-force-outline-none[tabindex="-1"]:focus {
            outline: none;
        }
    </style>
    <meta charset="utf-8">
    <title>Designer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/site/canvas-imports.css?v=1647140732658">
    <style data-meta="default styles"></style>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js"></script>
    <script src="/js/site/webflow.js"></script>
    <style></style>
    <link rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://www.paypal.com/sdk/js?client-id=sb&amp;merchant-id=XXX&amp;commit=false"
        data-uid-auto="uid_wozxfjdbvtrflvsisqpnlrprksvfvd"></script><noscript></noscript>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script><noscript></noscript>
    <style type="text/css" rel="stylesheet"></style>
    <style data-meta="local styles"></style>
    <style id="grid-inflators"></style>
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Changa One:400,400italic|Droid Sans:400,700|Droid Serif:400,700,400italic,700italic|Exo:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic|Great Vibes:400|Inconsolata:400,700|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Merriweather:300,400,700,900,300italic,400italic,700italic,900italic|Montserrat:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic|Open Sans:300,400,600,700,800,300italic,400italic,600italic,700italic,800italic|Oswald:200,300,400,500,600,700|PT Sans:400,700,400italic,700italic|PT Serif:400,700,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Varela:400|Varela Round:400|Vollkorn:400,700,400italic,700italic&amp;subset=">
</head>

<body data-w-id="5630603d1c08f33730df7af2" data-wf-id="[&quot;5630603d1c08f33730df7af2&quot;]"
    data-new-gr-c-s-check-loaded="14.1052.0" data-gr-ext-installed="">
    <div data-w-id="ce71776b-b311-46f7-d2fc-ea71006cd9a3"
        data-wf-id="[&quot;ce71776b-b311-46f7-d2fc-ea71006cd9a3&quot;]" class="content-wrapper">
        <div data-w-id="ac9b672c-2d5a-5581-7ad6-e91052805b63"
            data-wf-id="[&quot;ac9b672c-2d5a-5581-7ad6-e91052805b63&quot;]" class="post-wrapper"><img
                src="https://uploads-ssl.webflow.com/622560d1855d4f49dc820a31/62257391855d4f973c82891e_about-me.png"
                loading="lazy" data-wf-id="[&quot;e83dd598-c76a-0f29-be2d-1c6fe94e5b27&quot;]"
                data-w-id="e83dd598-c76a-0f29-be2d-1c6fe94e5b27" alt="" class="about-image"
                sizes="(max-width: 767px) 88vw, (max-width: 991px) 53vw, 65vw"
                srcset="https://daks2k3a4ib2z.cloudfront.net/622560d1855d4f49dc820a31/62257391855d4f973c82891e_about-me-p-500.png 500w, https://daks2k3a4ib2z.cloudfront.net/622560d1855d4f49dc820a31/62257391855d4f973c82891e_about-me-p-800.png 800w, https://uploads-ssl.webflow.com/622560d1855d4f49dc820a31/62257391855d4f973c82891e_about-me.png 1412w">
            <div data-w-id="d296d6a9-70ec-1618-fa15-fca09abe277d"
                data-wf-id="[&quot;d296d6a9-70ec-1618-fa15-fca09abe277d&quot;]" class="post-content">
                <div data-w-id="4f91f9e8-e9d5-d848-d397-0cbb6f4516cb"
                    data-wf-id="[&quot;4f91f9e8-e9d5-d848-d397-0cbb6f4516cb&quot;]" class="body-copy w-richtext">
                    <h1 data-w-id="c957df11-a6f0-3a12-79fc-8289a8a81acb"
                        data-wf-id="[&quot;c957df11-a6f0-3a12-79fc-8289a8a81acb&quot;]">About me</h1>
                    <p data-w-id="434959ab-34ec-4bbb-2355-d166cb73b674"
                        data-wf-id="[&quot;434959ab-34ec-4bbb-2355-d166cb73b674&quot;]">Hello everybody! My name is Ben,
                        and I am the creator of Vague University. As the creator of Vague University, my
                        responsibilities include opening MS Paint to draw horrific sketches to accompany my god-awful
                        think pieces. Believe it or not, I am also the developer of this webpage. So if you have any
                        problems while browsing this dreadful website, you’ll know who is responsible ;). I am not
                        really sure if I am supposed to add a period after a smiley face, but I did it anyways just to
                        be safe. Lord forgive me for my sins.</p>
                    <h4 data-w-id="f1afa2c5-1255-5ffe-b1ed-5646cbdbf952"
                        data-wf-id="[&quot;f1afa2c5-1255-5ffe-b1ed-5646cbdbf952&quot;]">Fun Facts about Vague University
                    </h4>
                    <ul data-w-id="494530da-f388-82bf-21f3-ae2242d0e1cb"
                        data-wf-id="[&quot;494530da-f388-82bf-21f3-ae2242d0e1cb&quot;]" role="list">
                        <li data-w-id="494530da-f388-82bf-21f3-ae2242d0e1cc"
                            data-wf-id="[&quot;494530da-f388-82bf-21f3-ae2242d0e1cc&quot;]">So far, Vague University has
                            had 0 hits, wowzers!!</li>
                        <li data-w-id="b5ffe61a-1dad-a6b2-3408-b65761447b5d"
                            data-wf-id="[&quot;b5ffe61a-1dad-a6b2-3408-b65761447b5d&quot;]">Ben is a Computer Science
                            major, which explains his <a href="https://en.wikipedia.org/wiki/Sarcasm"
                                data-w-id="f7b3e4d1-4296-52fa-3fa1-03d1e8057bda"
                                data-wf-id="[&quot;f7b3e4d1-4296-52fa-3fa1-03d1e8057bda&quot;]"><em
                                    data-w-id="778960bf-ce68-04bd-6b12-2c4360260092"
                                    data-wf-id="[&quot;778960bf-ce68-04bd-6b12-2c4360260092&quot;]">great</em></a><em
                                data-w-id="c1a123e1-58c5-7d67-3609-12ff686b6c31"
                                data-wf-id="[&quot;c1a123e1-58c5-7d67-3609-12ff686b6c31&quot;]"> </em>social skills.
                        </li>
                        <li data-w-id="be54452d-f21a-d0af-3d64-f959d2fc62fa"
                            data-wf-id="[&quot;be54452d-f21a-d0af-3d64-f959d2fc62fa&quot;]">This webpage was created in
                            early 2022 during Ben's senior year of college.</li>
                        <li data-w-id="ecb6bc36-aece-fd0c-e317-cd8e7bc6bbd9"
                            data-wf-id="[&quot;ecb6bc36-aece-fd0c-e317-cd8e7bc6bbd9&quot;]">The picture above shows Ben
                            near the grounds of <a href="https://en.wikipedia.org/wiki/Chichen_Itza"
                                data-w-id="f60562a3-9028-fbdb-7834-8be99e7e6b2c"
                                data-wf-id="[&quot;f60562a3-9028-fbdb-7834-8be99e7e6b2c&quot;]">Chichen Itza</a>,
                            awaiting the serpent god <a href="https://www.worldhistory.org/Kukulcan/"
                                data-w-id="acc552c2-f074-3e73-1ce2-27b1e103cbf1"
                                data-wf-id="[&quot;acc552c2-f074-3e73-1ce2-27b1e103cbf1&quot;]">Kukulkan</a> to pray for
                            yet another bountiful harvest and a free Leetcode subscription (yes, he's one of those).
                        </li>
                        <li data-w-id="499dc3fd-0f16-dfc9-9210-174a484db15f"
                            data-wf-id="[&quot;499dc3fd-0f16-dfc9-9210-174a484db15f&quot;]">Ben has never experienced
                            the loving touch of a woman.</li>
                    </ul>
                </div><a href="/contact" data-w-id="48254105-d6ab-1ff9-bfbc-a6791594acc4"
                    data-wf-id="[&quot;48254105-d6ab-1ff9-bfbc-a6791594acc4&quot;]" class="button w-button">Get in
                    touch</a>
            </div>
        </div>
    </div>
    <div id="lightbox-mountpoint" style="position: absolute;"></div><iframe name="__privateStripeMetricsController3220"
        frameborder="0" allowtransparency="true" scrolling="no" allow="payment *"
        src="https://js.stripe.com/v3/m-outer-9fe86c29346daf61dc2cc0586b4fad18.html#url=https%3A%2F%2Fwebflow.com%2Fdesign%2Fvague-university-mockup&amp;title=Designer&amp;referrer=&amp;muid=c84934e3-5c38-435d-8b62-efbe58d128ff3d0556&amp;sid=fd3571b2-ca3a-4056-91ff-eb6cdb492c3f9c6a03&amp;version=6&amp;preview=false"
        aria-hidden="true" tabindex="-1"
        style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: fixed !important; height: 1px !important; pointer-events: none !important; user-select: none !important;"></iframe>
</body>

</html>